.wrapper {
  @apply overflow-x-auto;
}

.constrainHeight {
  @apply inline-block;
  @apply overflow-y-scroll overscroll-y-contain;
  @apply border-b;
  max-height: 36rem;
}

.table {
  @apply border min-w-full bg-white;
}

@screen lg {
  .table {
    @apply min-w-1/2;
  }
}

.fixed {
  @apply table-fixed;
}

.table th {
  @apply border p-2 select-none;
}

.table td {
  hyphens: auto;
  /* Both of these are required to prevent overflow of very long words. */
  @apply break-words;
  word-break: break-word;
}

.table .tableCell {
  @apply border p-2;
}

.table .tableCell.expanded {
  @apply bg-blue-500 text-white;
}

.table .expander {
  @apply cursor-pointer block p-2 -m-2 font-semibold underline;
}

.constrainHeight table th {
  @apply sticky top-0;
  @apply bg-white z-50;
  box-shadow: 0 1px 0 #d1d5da, 0 -1px 0 #d1d5da;
}

.constrainHeight table th.filterHeader {
  top: 41px;
  @apply border-t-0;
  box-shadow: 0 1px 0 #d1d5da, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  @apply text-left p-2;
}
